image: Visual Studio 2017

init:
- git config --global core.autocrlf false

install:
- ps: (new-object Net.WebClient).DownloadString("https://raw.github.com/madskristensen/ExtensionScripts/master/AppVeyor/vsix.ps1") | iex

before_build:
  - ps: Vsix-IncrementVsixVersion | Vsix-UpdateBuildVersion
  #- ps: Vsix-TokenReplacement Aras.VS.MethodPlugin\source.extension.cs 'Version = "([0-9\\.]+)"' 'Version = "{version}"'

build_script:
  - nuget restore -Verbosity quiet
  - msbuild /p:configuration=Release /p:DeployExtension=false /p:ZipPackageCompressionLevel=normal /v:m

test:
# only assemblies to test
  assemblies:
    only:
      - Aras.VS.MethodPlugin.Tests.dll

after_test:
  - ps: Vsix-PushArtifacts | Vsix-PublishToGallery
